AdminApp/obj
AdminApp/bin
AdminApp/node_modules
AdminApp/.vscode
UserApp/obj
UserApp/bin
UserApp/node_modules
UserApp/.vscode
Shared/obj
Shared/bin
Shared/node_modules
Shared/.vscode
EmailSender/.vscode
EmailSender/obj
EmailSender/bin
EmailSender/node_modules
EmailSender/.vscode
AdminApp/appsettings.json
UserApp/appsettings.json

